<div class="viewOuter pl-20 pr-20 wmpx-905 mpx-0" style="display:none">
    <!-- [ngClass]="superAdmin== true?'wper-100':'wmpx-614'" -->
  <div >
    <div class="flex pt-20 pb-20">
      <div class="wpr-20  pl-20 wper-50  flex align-middle">
        <img routerLink="/client-management" class="cursor outLine" src="../../../../assets/images/viewBack.png">
        <span routerLink="/client-management" class="pl-15 outLine viewBack cursor">Add Group</span>
      </div>
      <div class="flex wper-50 align-right">
        <div class="pr-15  pl-15 flex ">
          <button class="companyViewEdit bgRed cursor wmpx-105 hpx-40">
            <img class="pr-10" src="../../../../assets/images/close.png">Cancel
          </button>
          <button class="companyViewEdit ml-20 cursor wmpx-105 hpx-40">
            <img class="pr-10" src="../../../../assets/images/save.png">Create
          </button>
        </div>
      </div>
    </div>
    <div class="clientContent pt-25 pb-25 wper-100">
      <div class="flex  ml-38">
        <div class="wper-30 pr-30">
          <mat-form-field class="wper-100 example-full-width">
            <input matInput placeholder="Group Name" name="fName" [(ngModel)]="emp.fName" #fName="ngModel" required>
          </mat-form-field>
        </div>
        <div class="wper-70 pr-30">
          <mat-form-field class="wper-100 example-full-width">
            <input matInput placeholder="Group Description" name="fName" [(ngModel)]="emp.fName" #fName="ngModel" required>
          </mat-form-field>
        </div>
      </div>      
    </div>
  </div>
  <div class="">
    <div *ngIf="showLoader" class="loader">
      <!-- *ngIf="isLoadingResults" -->
      <!-- <mat-spinner *ngIf="isLoadingResults"></mat-spinner> -->
      <!-- <img src="https://www.microsoft.com/en-au/microsoftfeedback/images/big-loading-gif.gif"> -->
    </div>
    <div class="">
      <div class="pl-20 pr-20 pt-20 pb-20 flex">
        <div class="wpr-20  pl-20 wper-80  flex align-middle">
          <span class="outLine viewBack cursor">Link Programs to Group</span>
        </div>
        <div class="flex align-right">
          <!-- <div class="pr-15  pl-15">
              <button class="upload-btn cursor" (click)="clientCreate()">
                <img class="pr-10" src="../../../../assets/images/empPlus.png">Add Company</button>
            </div> -->
        </div>
      </div>
      <table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.action=='pending'?{'background-color':'rgba(19, 187, 153, 0.1)'}:''">
            <div class="pt-5">
              <img style="width: 27px;
                           border-radius: 50%;                 
                           object-fit: contain;"
                class="cursor" src="../../../../assets/images/tim.png">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="programName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Name </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.action=='pending'?{'background-color':'rgba(19, 187, 153, 0.1)'}:''">
            {{element.programName | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="programCost">
          <th mat-header-cell *matHeaderCellDef> Program Cost </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.action=='pending'?{'background-color':'rgba(19, 187, 153, 0.1)'}:''">
            {{element.programCost | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="totalModules">
          <th mat-header-cell *matHeaderCellDef> Total Modules </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.action=='pending'?{'background-color':'rgba(19, 187, 153, 0.1)'}:''">
            {{element.totalModules }} </td>
        </ng-container>
        <ng-container matColumnDef="totalLessons">
          <th mat-header-cell *matHeaderCellDef> Total Lessons </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.action=='pending'?{'background-color':'rgba(19, 187, 153, 0.1)'}:''">
            {{element.totalLessons}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.action=='pending'?{'background-color':'rgba(19, 187, 153, 0.1)'}:''">
            <!-- <div>{{element.action}}</div> -->
            <div class="flex align-baseline cursor" [ngStyle]="element.action=='accept'?{'pointer-events':'none','opacity':'0.6'}:element.action=='reject'?{'pointer-events':'none','opacity':'0.6'}:''">
              <div class="wmpx-8 hpx-8 mr-10  br-20" [ngStyle]="element.action=='accept'?{'background-color':'green'}:element.action=='reject'?{'background-color':'#d01c1c'}:element.action=='pending'?{'background-color':'rgb(5, 201, 245)'}:''"></div>
              <div [matMenuTriggerFor]="menu">
                <div class="more-icon">
                  <mat-menu class="moreOption" #menu="matMenu">
                    <button mat-menu-item (click)="element.action='pending'">
                      <span class="moreOption">Accept</span>
                    </button>
                    <button mat-menu-item (click)="element.action='pending'">
                      <span class="moreOption">Reject</span>
                    </button>
                  </mat-menu>
                </div> {{element.action}}
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
