<div class="viewOuter flex align-center">
  <div class="wmpx-614">
    <div class="flex pt-20 pb-20">
      <div class="wpr-20  pl-20 wper-50  flex align-middle">
        <img  class="cursor outLine" src="../../../../assets/images/viewBack.png">
        <span  class="pl-15 outLine viewBack cursor">Edit Info</span>
      </div>
      <div class="flex wper-50 align-right">
        <div class="pr-15  pl-15 flex ">
          <button  class="companyViewEdit bgRed cursor wmpx-105 hpx-40 mr-20">
            <img class="pr-10" src="../../../../assets/images/close.png">Cancel
          </button>
          <button class="companyViewEdit cursor wmpx-95 hpx-40">
            <img class="pr-10" src="../../../../assets/images/save.png">Save
          </button>
        </div>
      </div>
    </div>
    <div class="flex wmpx-614 hpx-154 viewHeader align-middle">
      <div class="clientImg ml-38">
        <img src="../../../../assets/images/viewUser.png">
      </div>
    </div>
    <div class="clientContent pt-32 wper-100">
      <div class="flex pt-10 ml-38">
        <div class="wper-50">
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Old Password" name="oldPassword" [(ngModel)]="company.oldPassword" #oldPassword="ngModel"
              required>
          </mat-form-field>
        </div>
        <div class="wper-50">
        </div>
      </div>
      <div class="flex pt-30  ml-38 pb-40">
        <div class="wper-50">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="New Password" type="password" name="newPassword" [(ngModel)]="company.newPassword" #newPassword="ngModel"
              required>
          </mat-form-field>
        </div>
        <div class="wper-50">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Conform Password" type="password" name="conformPassword" [(ngModel)]="company.conformPassword" #conformPassword="ngModel"
              required>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
